# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# opennext / cloudflare
/.open-next/
/.wrangler/

# env
.env
.env.local
.env*.local

# supabase local
/supabase/.branches
/supabase/.temp

# os
.DS_Store
*.log
